<nav class="p-2 content-center shadow">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <h1 class="font-extrabold leading-none tracking-tight text-gray-900 text-3xl">
      Find the <mark class="px-2 text-white bg-red-500 rounded">mouse</mark> game
    </h1>

    <div class="routing-buttons">
      <button routerLinkActive="active" class="bg-blue-500 routing-btn text-white font-bold py-2 px-4 rounded transition-colors">
        <a routerLink="preview">Preview the grid</a>
      </button>
      <button routerLinkActive="active" class="bg-green-500 routing-btn text-white font-bold py-2 px-4 rounded transition-colors">
        <a routerLink="game">Play the game</a>
      </button>
    </div>
  </div>
</nav>
