<nav class="p-2 content-center shadow">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <h1 class="font-extrabold leading-none tracking-tight text-gray-900 text-3xl">
      Find the <mark class="px-2 text-white bg-red-500 rounded">mouse</mark> game
    </h1>
    <button class="bg-blue-500 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded transition-colors">
      <ul>
        <li><a routerLinkActive="active" routerLink="preview">Preview the grid</a></li>
        <li><a routerLinkActive="active" routerLink="game">Play the game</a></li>
      </ul>
    </button>
  </div>
</nav>
